# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way HEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        libvulpes:ore0:9
        appliedenergistics2:facade
        extrautils2:quarryproxy
        rftools:shield_block1
        rftools:notick_invisible_shield_block_opaque
        embers:ore_quartz
        extrautils2:quarry
        rftools:shield_block4
        rftools:shield_block2
        embers:ore_copper
        rftools:shield_block3
        embers:ore_nickel
        forestry:resources:2
        forestry:resources:1
        rftools:invisible_shield_block
        libvulpes:ore0:5
        libvulpes:ore0:4
        rftools:shield_template_block
        embers:ore_lead
        thaumcraft:ore_quartz
        rftools:notick_invisible_shield_block
        buildcraftsilicon:plug_facade
        rftools:shape_card
        rftools:builder
        thermalfoundation:ore:4
        embers:ore_aluminum
        thermalfoundation:ore:5
        rftools:invisible_shield_block_opaque
        thermalfoundation:ore:2
        thermalfoundation:ore:3
        mysticalworld:copper_ore
        thermalfoundation:ore:0
        mysticalworld:silver_ore
        embers:ore_tin
        embers:ore_silver
     >
}


