# Configuration file

general {

    chat_config {
        # Modify left delimiter [Default: "<"]
        S:DELIMITER_LEFT=<

        # Modify right delimiter [Default: "> "]
        S:DELIMITER_RIGHT=> 
    }

    colour_config {
        # Allowed colours for random and custom assignment
        B:AQUA=true
        B:BLUE=true
        B:DARK_AQUA=true
        B:DARK_GREEN=true
        B:DARK_PURPLE=true
        B:DARK_RED=true
        B:GOLD=true
        B:GREEN=true
        B:LIGHT_PURPLE=true
        B:RED=true
        B:YELLOW=true
    }

    command_config {
        # Allow the use of the /colouredchat set|clear <colour> command, This command allows players to customise their player chat colour, persists on relogs
        B:ALLOW_CUSTOM=true

        # Allow the use of the /colouredchat random command, This command allows players to randomly select a player chat colour, does not persist on relog
        B:ALLOW_RANDOM=true
    }

    experimental {
        # Enable experimental quasi-random colour assignment, This experimental mode will evenly distribute colours to players on login, reducing duplicate colours
        B:USE_QUASI_RANDOM_ASSIGNMENT=false
    }

}


