# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=false
    S:OnMorningText=zzz... rrr... Rawr?
    S:OnSleepText=is asleep in their den.
    S:OnWakeText=has awoken!
    I:SleeperPerc=30
}


