# Configuration file

general {
    # If true, the nick command will accept ampersand-formatted (&) color codes. If false, they will be ignored. [default: true]
    B:allowColorCodes=true

    # The maximum amount of characters to allow in a player's nick, not counting color codes (if enabled). [range: 1 ~ 65535, default: 20]
    I:maxLength=20
}


