# Configuration file

general {
    # If true, quarries will load chunks while mining.
    #  [default: true]
    B:allowChunkLoading=true

    # How fast gems should take Whacks damage, as a percentage. 100 is
    # normal speed, 200 is double, 50 is half, etc.
    #  [range: 0.0 ~ 50000.0, default: 100.0]
    S:damageFactor=100.0

    # If true, non-sandstone vanilla recipes involving sand will be
    # modified to use the sand oredict entry.
    #  [default: true]
    B:fixSandRecipes=true

    # How rarely meteors should fall, as a percentage. 100 is normal
    # rarity, 200 is twice as rare, 50 is twice as common.
    #  [range: 0.0 ~ 50000.0, default: 100.0]
    S:meteorRarityFactor=300.0

    # How fast quarries should mine, as a percentage. 100 is normal
    # speed, 200 is double, 50 is half, etc.
    #  [range: 0.0 ~ 50000.0, default: 100.0]
    S:speedFactor=100.0

    # If true, holding a quarry will summon a meteorite instead of
    # needing to find them. Disables Transceivers and the entirety of
    # random meteorite summoning.
    #  [default: false]
    B:summonGemsOnQuarryHeld=false
}


odd {
    # Huh? [range: 0 ~ 1024, default: 8]
    I:"What is 8?"=8
}


